

/* cadastro e login */
*{
    margin: 0;
    padding: 0;
   
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page .logo{
    
    height: 100%;

}

#logo_music{
    width: 300px;
    height: 280px;
    position: absolute;
    margin-left: 1%;
}

body .page {
    background-image: url('../img/teste1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page .card {
    
    height: 600px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.page .card .letra{
    font-size: 20px;
    line-height: 0.6;
}

input{
    height: 30px;
    border: 2px solid #4220c0;
    border-radius: 10px;
}

.btn {
    font-family: 'Exo 2', sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 15px;
    color: white;
    background-color: #E6005A;
    width: 120px;
    align-self: center;
    cursor: pointer;
    padding-bottom: 15px;
    
}

.bem-vindo{
    margin-bottom: 7%;
    color: black;
}

#hiperlinkc{
    font-size: 20px;
    margin-left: 14%;
}


form {
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}